/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,400i,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", "Roboto" sans-serif;
  }

  :root {
    /* lm: light mode, dm: dark mode */
    --primary-color-lm: 0 0 0;
    --secondary-color-lm: 20 184 166;
    --primary-color-dm: 255 255 255;
    --secondary-color-dm: 94 234 212;
    --bg-color-dm-from: 34 126 168;
    --bg-color-dm-to: 0 42 61;
    --bg-color-lm-from: 255 255 255;
    --bg-color-lm-to: 255 252 250;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

.bkg-base {
  opacity: 1;
  background-size: 200px 200px;
  background-position: 0 0, 100px 100px;
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 4px;
  animation-name: progress-grow;
  animation-timing-function: linear;
  animation-timeline: scroll(root);
  z-index: 9;
}

@keyframes progress-grow {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.typewriter {
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid rgb(var(--secondary-color-dm));
  white-space: nowrap;
  animation:
    typing 3.5s steps(30, end),
    blink-caret 1s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(var(--secondary-color-dm))
  }
}