/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,400i,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", "Roboto" sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}